
<button ng-click="cargarBombos()">Generar bombos</button>

<section style="float: left;display: inline-block">
    <table  style="border: solid 2px black;float:left;display: inline-block" id="grupoa">
        <td>Grupo A</td>
    </table>
    <table style="border: solid 2px black;float:left;display: inline-block" id="grupob">
        <td>Grupo B</td>
    </table>
    <table style="border: solid 2px black;float:left;display: inline-block"id="grupoc">
        <td>Grupo C</td>
    </table>
    <table style="border: solid 2px black;float:left;display: inline-block" id="grupod">
        <td>Grupo D</td>
    </table>
    <table  style="border: solid 2px black;float:left;display: inline-block" id="grupoe">
        <td>Grupo E</td>
    </table>
    <table style="border: solid 2px black;float:left;display: inline-block" id="grupof">
        <td>Grupo F</td>
    </table>
    <table style="border: solid 2px black;float:left;display: inline-block"id="grupog">
        <td>Grupo G</td>
    </table>
    <table style="border: solid 2px black;float:left;display: inline-block" id="grupoh">
        <td>Grupo H</td>
    </table>
</section>


<section style="float: left;display: inline-block">
    <table  style="border: solid 2px blue;float:left;display: inline-block" id="bombop">

    </table>
    <table style="border: solid 2px blue;float:left;display: inline-block" id="bombos">

    </table>
    <table style="border: solid 2px blue;float:left;display: inline-block"id="bombot">

    </table>
    <table style="border: solid 2px blue;float:left;display: inline-block" id="bomboc">

    </table>

</section>
<button ng-click="guardarSorteo()">Guardar Sorteo</button>