<table >
    <tr>
    <td>
        <p>1.Elija los locales</p>
    </td>
        <td>
    <p>y</p>
        </td>
    <td>
       <p>los visitantes de cada encuentro</p>
    </td>
    </tr>

    <tr>
        <td>
            <select id="equipo1">
                <option value="">Elija</option>
                <option value="CONMEBOL">CONMEBOL</option>
                <option value="CONCACAF">CONCACAF</option>
                <option value="OFC" >OFC</option>
                <option value="AFC" >AFC</option>
            </select>
        </td>
        <td>
            <h1>VS    </h1>
        </td>
        <td>
            <select id="equipo2">
                <option value="">Elija</option>
                <option value="CONMEBOL">CONMEBOL</option>
                <option value="CONCACAF">CONCACAF</option>
                <option value="OFC" >OFC</option>
                <option value="AFC" >AFC</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <select id="equipo3">
                <option value="">Elija</option>
                <option value="CONMEBOL">CONMEBOL</option>
                <option value="CONCACAF">CONCACAF</option>
                <option value="OFC" >OFC</option>
                <option value="AFC" >AFC</option>
            </select>

        </td>
        <td>
            <h1>VS    </h1>
        </td>
        <td>
            <select id="equipo4">
                <option value="">Elija</option>
                <option value="CONMEBOL">CONMEBOL</option>
                <option value="CONCACAF">CONCACAF</option>
                <option value="OFC" >OFC</option>
                <option value="AFC" >AFC</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <button ng-click="determinarRepechaje()"> Declarar enfrentamientos</button>
        </td>
    </tr>
</table>

<table id="tableresultados">


</table>