<!DOCTYPE html>
<html lang="en" ng-app="userModule">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="plugins/alertify/alertify.js"></script>
    <link rel="stylesheet" type="text/css" href="plugins/alertify/css/alertify.css">
    <link rel="stylesheet" type="text/css" href="plugins/alertify/css/themes/default.css">
    //Alertify
    <!-- JavaScript -->
    <meta charset="UTF-8">
</head>
<body>
<header>
</header>
    <div class="container" ng-controller="mainController">
        <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <div class="form-login">
                    <h4>Bienvenido</h4>
                    <input type="text" id="id" class="form-control input-sm chat-input" placeholder="nombre de usuario" ng-model="datos_usuario.nombre_usuario"/>
                    </br>
                    <input type="password" id="pass" class="form-control input-sm chat-input" placeholder="contraseña" ng-model="datos_usuario.clave"/>
                    </br>
                    <div class="wrapper">
                        <span class="group-btn">
                            <a  class="btn btn-primary btn-md" ng-click="validaUsuario(datos_usuario)">login <i class="fa fa-sign-in"></i></a>
                            <a  class="btn btn-primary btn-md"data-toggle="modal" data-target="#registro" >registro<i class="fa fa-sign-in"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Register view-->
    <div id="registro" class="modal fade" role="dialog" ng-controller="mainController">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body">
                    <div class="form-login">
                        <h4>Registro</h4>
                        <input type="text" id="name_c" class="form-control input-sm chat-input" placeholder="Nombre" ng-model="usuario.nombre"/>
                        </br>
                        <input type="text" id="apellido1_c" class="form-control input-sm chat-input" placeholder="Primer apellido" ng-model="usuario.apellido1"/>
                        </br>
                        <input type="text" id="apellido2_c" class="form-control input-sm chat-input" placeholder="Segundo apellido" ng-model="usuario.apellido2"/>
                        </br>
                        <input type="text" id="edad" class="form-control input-sm chat-input" placeholder="contraseña" ng-model="usuario.clave"/>
                        </br><input type="text" id="email" class="form-control input-sm chat-input" placeholder="nombre de usuario" ng-model="usuario.nombre_usuario"/>
                        <div class="wrapper">
                                <span class="group-btn">
                                    <a  class="btn btn-primary btn-md" ng-click="registrarUsuario(usuario)" data-dismiss="modal">Registrar <i class="fa fa-sign-in"></i></a>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
<script src="app.js"></script>
<script src="mainController.js"></script>
<script src="app/components/equipos/equiposServices.js"></script>
<script src="app/components/equipos/equiposController.js"></script>
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.js"></script>
<script src="css/check.css"></script>
</body>
<footer>
    <p>copyright by Luis Andres Fernandez Calderon && Jurguen Romero</p>
</footer>
</html>